.row.sign_in {
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  height: 60%;
  /* margin-top: 10px; */
}
.sign_in_container .input_component {
  width: 95%;
}
input {
  width: 100%;
}
.eye_icon {
  flex-grow: 1;
}
.input_component.submit.sign_in {
  padding-left: 10%;
  width: 80.8%;
  height: 15%;
}
.redirect {
  color: #705cc9;
  margin: 0;
  flex-grow: 1;
}
.redirect:hover {
  text-decoration: underline;
  cursor: pointer;
}
