html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #f8eefa, #705cc9);
  height: 100%;
  width: 100%;
}
